@import "tailwindcss";
button {
  cursor: pointer;
}
@theme {
  --breakpoint-*: initial;
  --breakpoint-mo: 300px;
  --breakpoint-de: 1000px;
}
.btn {
  width: 120px;
  height: 45px;
  background: linear-gradient(to top, #19191a, #363636, #4e4e4e);
  color: #fff;
  border-radius: 5px;

  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.btn span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}